.hero{
  text-align: center;
  font-size: 24px;
}

body{
  margin: 0;
}

.intro{
  margin-top: 20px;
  font-size: 28px;
  text-align: center;
}

.introduction{
  background-image: url("./images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 470px;
}

hr{
  width: 50%;
  margin: 20px auto;
  border: 4px solid black;
}

.identity {
   text-align: center;
}

.identity hr {
  width: 100%;
  border-top: 2.5px solid black;
}

.identity h2 {
   margin: 25px 0;
   color: black;
   font-size: 36px;
   letter-spacing: 1px;
}

.identity-models {
   margin: 40px;
   text-align: left;
}

.identity-models p {
   font-size: 24px;
   line-height: 1.4;
}
